<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porquesí</title>
</head>
<body>
    <header>
        <div>
            <img src="/img/Logo_negro.png" alt="Logo">
            <h1>Porquesí</h1>
        </div>
        <nav>
            <ul>
                <li> <a href="../Index.html">Inicio </a> </li>
                <li> <a href="/views/Catalogo.html">Catálogo</a></li>
                <li><a href="/views/Blog.html">Blog</a></li>
                <li><a href="/views/Contactanos.html">Información</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Como Compostar</h2>
        </section>
        <section>
            <h2>Como usar shampoo y acondicionador solido</h2>
        </section>
        <section>
            <h2>Como cuidar tus velas</h2>
            <iframe src="https://v16-webapp.tiktok.com/30971d5cd99d7b9ea5a3877f8b8ba176/63522cdf/video/tos/maliva/tos-maliva-ve-0068c800-us/35065eadba394e269f3081995add2340/?a=1988&ch=0&cr=0&dr=0&lr=tiktok_m&cd=0%7C0%7C0%7C0&br=1408&bt=704&cs=0&ds=3&ft=kLO5qyDWZmo0P~rP8BkVQYp1miHKJdmC0&mime_type=video_mp4&qs=0&rc=ZDY8NGU3M2k3Zjk3Zjk2ZkBpamt4N2h3NTxyNjMzNzczM0AwXzYzLWJjNWExYTQwNWE0YSMwbDZxcmYxLS5gLS1kMTZzcw%3D%3D&l=202210202323100101891950420210CBD5&btag=80000" frameborder="0"></iframe>
        </section>
        <section>
            <h2>Cambios ecologicos</h2>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/porquesi.cr"> Instagram</a></li>
            <li><a href="https://www.facebook.com/porquesi.cr">Facebook</a></li>
            <li><a href="https://ar.pinterest.com/porquesicr/">Pinterest</a></li>
            <li><a href="https://www.tiktok.com/@porquesi.cr">TikTok</a></li>
        </ul>
    </footer>

</body>
</html>