<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porquesí</title>
</head>
<body>
    <header>
        <div>
            <img src="/img/Logo_negro.png" alt="Logo">
            <h1>Porquesí</h1>
        </div>
        <nav>
            <ul>
                <li> <a href="../Index.html">Inicio </a> </li>
                <li> <a href="/views/Catalogo.html">Catálogo</a></li>
                <li><a href="/views/Blog.html">Blog</a></li>
                <li><a href="/views/Contactanos.html">Información</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li> <a href="#velas">Velas</a></li>
            <li> <a href="#cosmetica">Cosmetica</a> </li>
            <li> <a href="#estilo">Estilo de Vida</a> </li>
        </ul>
        <section>
            <h2 id="velas">Velas</h2>
            <div>
                <img src="/img/Velas/CuencoChico.jpg" alt="Vela Cuenco chico">
                <h3>Cuenco Chico</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Cuenco Mediano</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Cuenco Grande</h3>
            </div>
            <div>
                <img src="/img/Velas/CuencoGrandeRecto.jpg" alt="cuenco recto grande vela">
                <h3>Cuenco Grande Recto</h3>
            </div>
            <div>
                <img src="/img/Velas/Artemisa.jpg" alt="">
                <h3>Cuenco Cerámica</h3>
            </div>
            <div>
                <img src="/img/Velas/Atenea.jpg" alt="">
                <h3>Cuenco Cerámica</h3>
            </div>
            <div>
                <img src="/img/Velas/Frasco100.jpg" alt="">
                <h3>Frasco 100ml</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Frasco 200ml</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Frasco 250ml</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Bombones Aromáticos</h3>
            </div>
            <div>
                <img src="/img/Velas/Tequila.jpg" alt="">
                <h3>Tequila Sunrise</h3>
            </div>
            <div>
                <img src="/img/Velas/Mojito.jpg" alt="">
                <h3>Mojito</h3>
            </div>
        </section>
        <section>
            <h2 id="cosmetica" >Cosmetica</h2>
            <div>
                <img src="" alt="">
                <h3>Nombre Cosmetica</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Cosmetica</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Cosmetica</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Cosmetica</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Cosmetica</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Cosmetica</h3>
            </div>
        </section>
        <section>
            <h2 id="estilo">Estilo de vida</h2>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Nombre Objeto</h3>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/porquesi.cr" target="_blank"> Instagram</a></li>
            <li><a href="https://www.facebook.com/porquesi.cr" target="_blank">Facebook</a></li>
            <li><a href="https://ar.pinterest.com/porquesicr/" target="_blank">Pinterest</a></li>
            <li><a href="https://www.tiktok.com/@porquesi.cr" target="_blank">TikTok</a></li>
        </ul>
    </footer>

</body>
</html>
