<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porquesí</title>
</head>
<body>
    <header>
        <div>
            <img src="/img/Logo_negro.png" alt="Logo">
            <h1>Porquesí</h1>
        </div>
        <nav>
            <ul>
                <li> <a href="../Index.html">Inicio </a> </li>
                <li> <a href="/views/Catalogo.html">Catálogo</a></li>
                <li><a href="/views/Blog.html">Blog</a></li>
                <li><a href="/views/Contactanos.html">Información</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <form action=""></form>
        </section>
        <section>
            <article>
                <p>Acá irian las preguntas frecuentes</p>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/porquesi.cr" target="_blank"> Instagram</a></li>
            <li><a href="https://www.facebook.com/porquesi.cr" target="_blank">Facebook</a></li>
            <li><a href="https://ar.pinterest.com/porquesicr/" target="_blank">Pinterest</a></li>
            <li><a href="https://www.tiktok.com/@porquesi.cr" target="_blank">TikTok</a></li>
        </ul>
    </footer>

</body>
</html>

https://pin.it/1Mv6GwD
